.about {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  z-index: 4;
  max-width: 1460px;
  margin: 0 auto;

  &__title {
    transform: rotate(-90deg);
    position: relative;

    .title {
      margin-left: 40px;
      margin-right: 40px;
    }

    span {
      font-family: 'Bodoni';
      font-size: 80px;
      color: #E79898;
    }
  }

  &__desc {
    padding-right: 20%;
    position: relative;

    &__logo {
      text-align: right;

      img {
        height: 100px;
      }
    }

    &__about {
      text-align: justify;
      line-height: 1.5;
      font-size: 16px;
      color: #9E8888;

      a {
        color: #E79898;
        font-family: 'Bodoni';
        text-decoration: none;

        &.about-links {
          font-size: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 940px) {

    &__title {
      .title {
        margin-left: 20px;
        margin-right: 20px;
      }
      span {
        font-size: 40px;
      }
    }

    &__desc {
      &__logo {
        img {
          height: 60px;
        }
      }
      &__about {
        line-height: auto;
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 640px) {
    &__title {
      left: -40px;

      .title {
        margin-left: 10px;
        margin-right: 10px;
      }
      span {
        font-size: 30px;
      }
    }

    &__desc {
      align-self: flex-start;
      left: -40px;
      padding-right: 10%;

      &__logo {
        padding-top: 20%;
        img {
          height: 40px;
        }
      }
      &__about {
        font-size: 12px;
      }
    }
  }
}
